@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pxfdvv');
  src:  url('fonts/icomoon.eot?pxfdvv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pxfdvv') format('truetype'),
    url('fonts/icomoon.woff?pxfdvv') format('woff'),
    url('fonts/icomoon.svg?pxfdvv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen:before {
  content: "\e902";
}
.icon-cast-out:before {
  content: "\e900";
  color: #900;
}
.icon-cast-in:before {
  content: "\e901";
  color: #900;
}
.icon-WebRTCIn_Connect_fill2:before {
  content: "\e903";
}
.icon-WebRTCIn_Connect_fill:before {
  content: "\e904";
}
